# Generate with: openssl rand -base64 60
AUTHENTIK_SECRET_KEY=

# Generate with: openssl rand -base64 32
AUTHENTIK_POSTGRES_PASSWORD=

# Generate with: openssl rand -base64 24
AUTHENTIK_REDIS_PASSWORD=
